@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');

/* aplicar a fonte escolhida para a página */
body {
  /* escolher da fonte padrão para todas as páginas */
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
  color: #333;
}

h1, h2, h3, h4 {
  /* padronizar os títulos com a fonte Montserrat */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #111;
}

body {
  background-color: #181818;
  color: #CCCCCC;
  font-family: 'Source Sans Pro',
}

h1, h2, h3 {
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif; 
  font-weight: 700;
  letter-spacing: 1px;
}

/* padronizar a cor das páginas de navegação */
a {
  color: #B8860B;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: #FFFFFF;
}

.imagem-do-card {
  width: 1200px;  /* defina a largura da imagem */
  height: 450px; /* define a altura da imagem */
  object-fit: contain; /* garante que não haja distorção da imagem */
}

.container-principal {
  /* define a largura do site */
  max-width: 1200px;
  
  /* garantir que ocupe menos espaço em telas pequenas */
  width: 90%;
  
  /* centraliza a página */
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
  background-color: #181818;
  color: #CCCCCC;
  font-family: 'Source Sans Pro', sans-serif;
}

/* cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  
  border-bottom: 2px solid #B8860B; 
  
  margin-bottom: 30px; 
}

/* título das páginas */
header h1 {
  font-family: 'Source Sans Pro', sans-serif; 
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 1px;
  
  font-size: 2.2rem;
  margin: 0;
}

/* menu de navegação */
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

nav ul li a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #B8860B;
  
  padding: 8px 12px;
  border-radius: 5px;
  transition: color 0.2s;
}

nav ul li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}